<div class="navbar bg-base-300 mb-12">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost sm:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-xl dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-72">
        <li><%= link_to "Appointments", appointments_path %></li>
        <% if current_user.patient? %>
          <li><%= link_to "Doctors", doctors_path %></li>
        <% end %>
        <li><%= link_to "Profile", "#" %></li>
      </ul>
    </div>
    <% if current_user.patient? %>
      <%= link_to "Patient", root_path, class: "btn btn-ghost text-xl" %>
    <% elsif current_user.doctor? %>
      <%= link_to "Doctor", root_path, class: "btn btn-ghost text-xl" %>
    <% end %>
  </div>

  <div class="navbar-center hidden sm:flex">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "Appointments", appointments_path %></li>
      <% if current_user.patient? %>
        <li><%= link_to "Doctors", doctors_path %></li>
      <% end %>
      <li><%= link_to "Profile", "#" %></li>
    </ul>
  </div>

  <div class="navbar-end">
    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn uppercase"  %>
  </div>
</div>
