<%= form_with model: @appointment do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation" class="alert alert-error flex mb-3">
      <svg class="self-start w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>

      <div class="flex flex-col">
        <p class="caption">Errors:</p>
        <ul>
          <% @appointment.errors.each do |error| %>
            <li class="caption"><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-control mb-6">
    <%= f.label :conclusion, class: "caption mb-2" %>
    <%= f.text_area :conclusion, size: "1x7", class: "textarea textarea-bordered textarea-md w-full"  %>
  </div>

  <div class="mt-10">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
