<h1 class="font-bold text-5xl mb-16">Your appointments</h1>

<div class="overflow-x-auto">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th><%= current_user.doctor? ? "Patient" : "Doctor"%></th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    <% @appointments.each.with_index(1) do |appointment, i| %>
      <tr>
        <th><%= i %></th>
        <td><%= current_user.doctor? ? appointment.patient.full_name : appointment.doctor.full_name%></td>
        <td><%= appointment.status %></td>
        <% if can? :update, appointment %>
          <td><%= link_to "add conclusion", edit_appointment_path(appointment), class: "btn btn-accent btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
